
<table cellpadding="10" cellspacing="0">
        <tbody><tr valign="TOP">
        
        <td valign="TOP" width="151">
        
        <img class="intro" src="../img/avatar.jpg">
        </td>
        
        <td valign="TOP">
        
        <h1>Nguyễn Quốc Tuấn<br>
        From CTTT2019.2<br>
        My Student ID is 19522233
        </h1>
        
        <p>
            <strong>I like play Soccer, Singing, Listening to music</strong>
        </p>
        
        <p><strong>Soon to be genius engineer,
            <a href="https://www.uit.edu.vn/">UIT, <a href="https://vnuhcm.edu.vn/">VNU-HCM</a></a>
        </strong> </p>
        
        <p>
        
        Student <a href="https://www.uit.edu.vn/">University of Information Technology</a>, 2019.</p><p>
        
        </p>
        <dd>
            <b>
                <a href="https://github.com/tuNQws">Github</a><br> 
                <a href="https://www.facebook.com/your.qtuan/">Facebook</a></div>
            </b>
        
        </dd>
    </td>
        </tr>
        </tbody>
    </table>
    <hr>
        <h2 class="learn">Subject and Learning</h2>
        <ul>
            <li >Web application and development</li>
            <li >System analysis and design with UML</li>
        </ul>
    
    </hr>
    
    <hr>
        <h2 class="learn">Working Experience</h2>

        <table>
            <tr>
              <th>Dates</th>
              <th>Work</th>
            </tr>
            <tr>
              <td>2019-2023</td>
              <td>Student at UIT</td>
            </tr>
          </table>
    </hr>
    
    <hr>
        <h2>Skill</h2>
        <table class="skill-table">
            <tr>
                <th id="skill-th"><strong>HTML/CSS</strong></th>
                <th id="skill-th">
                    <li class="fa fa-star check"></li>
                    <li class="fa fa-star check"></li>
                    <li class="fa fa-star check"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </th>
                <th id="skill-th"><strong>NodeJS</strong></th>
                <th id="skill-th"> 
                    <li class="fa fa-star check"></li>
                    <li class="fa fa-star check"></li>
                    <li class="fa fa-star check"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </th>
            </tr>
            <tr>
                <td><strong>ReactJS</strong></td>
                <td>
                    <li class="fa fa-star check"></li>
                    <li class="fa fa-star check"></li>
                    <li class="fa fa-star check"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </td>
                <td><strong>C#</strong></td>
                <td>
                    <li class="fa fa-star check"></li>
                    <li class="fa fa-star check"></li>
                    <li class="fa fa-star check"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </td>
            </tr>
        </table>
    </hr>